.title_btn em {
  line-height: 20px;
}
.title_btn .like {
  font-size: 0;
}
.title_btn p {
  line-height: 30px;
}

.right_label {
  width: 55px;
  height: 20px;
  background-color: var(--bg-color);
  border: 1px solid #f0f0f0;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
}

.report_btn {
  width: 100px;
  padding: 0 15px;
  height: 30px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  background-color: var(--crimson-1);
}
