.label {
  font-weight: bold;
  font-size: 14px;
}
.tags {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gray_1 {
  color: var(--gray-txt-1);
}

.gray_2 {
  color: var(--gray-txt-2);
}

.checkboxWrapper {
  display: inline-flex;
  align-items: center;
  margin: 5px;
}

.checkboxLabel {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid var(--gray-txt-1);
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
}

.checkboxInput {
  display: none;
}

.checkboxInput:checked + .checkboxLabel {
  background-color: var(--point-yellow-3);
  border-color: var(--point-yellow-3);
  animation: popEffectLight 0.25s cubic-bezier(0.25, 1.3, 0.5, 1);
}

@keyframes popEffectLight {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
