.dialog {
  padding: 20px;
  padding-top: 30px;
  overflow: visible;
}

.dialog .modal_header p {
  color: var(--gray-txt-1);
}

.btn_close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: var(--point-yellow-3);
  border-radius: 0 0 0 10px;
  font-size: 0;
}
.btn_close svg {
  width: 23px;
  height: 23px;
}