.itemContent {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  background: white;
  margin: 16px 0;
}

.imgBox {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  overflow: hidden;
  background: #f3f4f6;
  flex-shrink: 0;
}

.profileImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* 텍스트 영역 조절 */
.itemContent > div:first-child {
  flex: 1;
  margin-right: 16px;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxLabel {
  display: block;
  padding: 16px;
  cursor: default; /* 라벨 전체의 커서를 기본값으로 */
}

.labelContent {
  width: 100%;
  pointer-events: none; /* 내부 컨텐츠 클릭 방지 */
}

.selectButton {
  position: relative;
  padding: 8px 24px;
  border-radius: 24px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
.checkboxInput:checked + .selectButton {
  background-color: var(--blue-1);
  color: #edf2fe;
}

.selectText:hover {
  background: #dbeafe;
  transform: translateY(-1px);
}
.amountLine {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 4px;
  width: 90%;
}
