.historyCard {
  width: 90%;
  height: 100px;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: white;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ammountText {
  color: var(--crimson-2);
}
