.select {
  position: relative;
}
.select.header {
  padding: 14px 20px;
}
.select > button {
  position: relative;
  display: inline-block;
  padding: 0 40px 0 15px;
  font-weight: 500;
  height: 28px;
  border-radius: 14px;
  border: 1px solid var(--gray-br);
  background-color: var(--gray-bg);
  color: var(--gray-txt-2);
}
.select > button::before {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3.5px;
  border-top: 7px solid var(--gray-txt-2);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.select.header > button {
  font-size: 16px;
  height: 32px;
  border-radius: 16px;
  background-color: #f5f5f5;
  color: #000;
}
.select.header > button::before {
  border-top: 7px solid #000;
}
.select > ul button.active {
  background-color: var(--gray-br);
  font-weight: 700;
}
.select.header > ul button {
  font-size: 16px;
}
