.find_list ul li {
  position: relative;
}
.find_list ul li::before {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background-color: var(--gray-txt-2);
}
.find_list ul li:first-of-type::before {
  display: none;
}
.find_list ul li p {
  line-height: 1;
  color: var(--gray-txt-2);
}
