/* wrapper */
.wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

/* service */
.service {
  min-height: 100vh;
  background-color: var(--point-yellow-1);
}
.service .size {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
.service .size > div {
  height: 100%;
}
.service .landing {
  position: relative;
  width: 100%;
}
.service .webview {
  position: relative;
  flex: none;
  width: 100%;
  max-width: 430px;
  flex-grow: 1;
  padding-bottom: 60px;
  min-height: 100vh;
  background-color: #fff;
  border-left: 1px solid var(--gray-br);
  border-right: 1px solid var(--gray-br);
  box-sizing: border-box;
  overflow: hidden;
}
.service .webview > .container {
  padding-bottom: 25px;
  box-sizing: border-box;
}
@media screen and (max-width: 1240px) {
  .service .landing {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .service .webview {
    border: none;
  }
}

/* service - page */
.page .content {
  background-color: var(--gray-br);
}

.page .content > section {
  padding: 20px;
  background-color: #fff;
}
.page .content > section.height_full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 145px);
  box-sizing: border-box;
}

/* admin */
